<!DOCTYPE html>
<html>
	<head>
		<title>SHIT - System for the Hallmarking of Images to Text</title>
		<link rel="stylesheet" href='/static/style.css' />
	</head>
	<body oncontextmenu="return false;">
		<!-- <canvas id="canvas"></canvas> -->
		<div class="horizontalcenter">
			<div id="buttonpanel">
				<button id="save" class="tooltip">
					Save
					<span class="tooltiptext">Download XML files for labeled images and delete them from the server so that you are not presented with them again</span>
				</button>
				<button id="undo" class="tooltip">
					Undo
					<span class="tooltiptext">Delete the last drawn box.</span>
				</button>
				<button id="next" class="tooltip">
					Next
					<span class="tooltiptext">Move on to next image.</span>
				</button>
				<button id="upload" class="tooltip">
					Upload model
					<span class="tooltiptext">Upload a model.</span>
				</button>
				<button id="autolabel" class="tooltip">
					Autolabel: Off
					<span class="tooltiptext">Automatically use your uploaded model to detect images, which you can then correct.</span>
				</button>
			</div>
			<dialog id="dialog">
				<form id="tfliteupload" method="POST" enctype="multipart/form-data">
					<input id="uploadinput" name="file" type="file" accept=".tflite">
				</form>
				<button id="formsubmit">Submit</button>
			</dialog>			  
			<br>
			<div id="imagecontainer">
				<canvas id="tempcanvas"></canvas>
				<img id="image" draggable="false">
			</div>
		</div>
		<script src="/static/cookiecheck.js"></script>
		<script src="/static/labelscripts.js"></script>
	</body>
</html>